<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LiveBook - {% block title %}title{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="shortcut icon" href="{{asset('asset/favicons/logo.png')}}" type="image/x-icon"/>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
